<div class="row, jumbotron" style="padding: 10px 0 40px 0">
  <div class="col-md-2"><a href="/"><center>home</center></a></div>
  <div class="col-md-2"><a href="/songs"><center>songs</center></a></div>
  <div class="col-md-2"><a href="/songs/new"><center>add</center></a></div>
  <div class="col-md-2"><a href="/users/register"><center>register</center></a></div>
  <div class="col-md-2"><a href="/users/login"><center>login/Logout</center></a></div>
</div>

<form action="/users/login" method="post">
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="submit" value="submit">
</form>

<form action="/logout" method="get">
  <input type="submit" value="Logout">
</form>

 


