<div class="container">
  <div class="row">
    <div class="col-md-5"></div>   
      <form action="/users/login" method="post">
        <div class="col-md-4" style="padding: 10px 0 10px 0">
        <div style="padding: 10px 0 10px 0">
        <h3>Login</h3>
        </div>
        <div style="padding: 10px 0 10px 0">
          <input type="text" placeholder="username" name="username">
        </div>
        <div style="padding: 10px 0 10px 0">
          <input type="password" placeholder="password" name="password">
        </div>
        <div style="padding: 10px 0 10px 0">
          <input type="submit" value="submit">
        </div>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>  

<!-- <form action="/logout" method="get">
  <input type="submit" value="Logout">
</form> -->

 


