<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>





<% if @song.errors.any? %>
  <div>
    <strong>Some issues with your input, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |song| %>
        <li><%= song %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row, jumbotron" style="padding: 10px 0 40px 0">
  <div class="col-md-3"></div>
  <div class="col-md-3"><a href="/"><center>Home</center></a></div>
  <div class="col-md-3"><a href="/songs"><center>Songs</center></a></div>
  <div class="col-md-3"></div>
</div>

<div>
<h1>Post a song</h1>
</div>

<form method="post" action="/songs">
  <div class="form-group">
      <label>Song Title:</label>
      <input type="text" name="song_title" value="<%= @song.song_title %>">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="author" value="<%= @song.author %>">
  </div>
  <div>
    <label>url:</label>
    <input type="text" name="url" value="<%= @song.url %>">
  </div>
  <div>
    <input type="submit" value="Submit" class="btn btn-primary">
  </div>
</form>

<div class="col-xs-6 col-md-4" style="padding-top: 50px">
<p>Decided you really don't want to post a song. Here's your chance to go back and browse all of the songs instead.</p>
<button class="btn">Go back</button>
</div>

</body>
</html>