<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/custom.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>





<% if @song.errors.any? %>
  <div>
    <strong>Some issues with your input, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |song| %>
        <li><%= song %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="row, jumbotron" style="padding: 10px 0 40px 0">
  <div class="col-md-4"><a href="/"><center>home</center></a></div>
  <div class="col-md-4"><a href="/songs"><center>songs</center></a></div>
  <div class="col-md-4"><a href="/songs/new"><center>add</center></a></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">    
      <center>
      <h1>Post a song</h1>
      <form method="post" action="/songs">
        <div style="padding: 10px 0 10px 0">
            <input type="text" name="song_title" placeholder="song(required)" class="text-center" value="<%= @song.song_title %>">
        </div>
        <div style="padding: 10px 0 10px 0">
          <input type="text" name="author" placeholder="author(required)" class="text-center" value="<%= @song.author %>">
        </div>
        <div style="padding: 10px 0 10px 0">
          <input type="text" name="url" placeholder="url" class="text-center" value="<%= @song.url %>">
        </div>
        <br/>
        <div>
          <input type="submit" value="Submit" class="btn btn-primary">
        </div>
      </form>
      </center>
    </div>
    <div class="col-md-4"></div>
    </div>
  </div>
</div>  

<div class="container" style="padding: 20px 0 20px 0" >
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-xs-12 col-md-4" style="padding: 20px 0 20px 0; background-color: #eee">
      <center><button class="btn">Login</button></center>
      <h3 class="text-center">Not a user yet?</h3>
      <center><button class="btn">Sign up</button></center>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>


</body>
</html>