<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <title></title>
</head>
<body>
<div class="row, jumbotron" style="padding: 10px 0 40px 0">
  <div class="col-md-3"><a href="/"><center>home</center></a></div>
  <div class="col-md-3"><a href="/songs"><center>songs</center></a></div>
  <div class="col-md-3"><a href="/songs/new"><center>add</center></a></div>
  <div class="col-md-3"><!-- <a href="/users/register"><center>register</center></a> --></div>
  <div class="col-md-3"><center><% if @user %>Welcome <%= @user.username %><form action="/logout" method="get"><input type="submit" value="logout"></form></center><% else %><a href="/users/login"><center>login</center></a>or<a href="/users/register"><center>register</center></a><% end %></div>
</div>
  <%= yield %>
</body>
</html>
